<!DOCTYPE html>
<html>
<head>
​
<style> 
    .head1 { 
        font-size:40px; 
        color:#009900; 
        font-weight:bold; 
    } 
    .head2 { 
        font-size:17px; 
        margin-left:10px; 
        margin-bottom:15px; 
    } 
   
    #user-form-field{
        margin-top: 100px;
        margin-left: 150px;
    }
    #bike-form-field{
        margin-top: 100px;
        margin-left: 150px;
    }
    .mat-tab{
        color:#009900; 
    }
    .button{
        padding-left: 10px;
        color:#009900; 
    }
</style>
</head>
<header> 
    <div class="head1">Bool</div> 
    <div class="head2">The Bike Service</div> 
</header>
<body>​
    <mat-tab-group>
        <mat-tab label="Find User"> Content </mat-tab>
        <mat-tab label="Bikes and Vehicles">
                <app-bikes-and-veh></app-bikes-and-veh>
        </mat-tab>    
        <mat-tab label="Pending Approvals"> 
                <app-approvals></app-approvals>
        </mat-tab>
     </mat-tab-group>
</body>

</html>




