<mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Here">
</mat-form-field>
<div>
  <a routerLink="/addbike">+Add Bike</a>
</div>
                
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>

                  <ng-container matColumnDef="regno">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RegNo </th>
                    <td mat-cell *matCellDef="let element"> {{element.regno}} </td>
                  </ng-container>
                
                  <ng-container matColumnDef="availability">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Availability </th>
                    <td mat-cell *matCellDef="let element"> {{element.availability}} </td>
                  </ng-container>

                  <ng-container matColumnDef="comments">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Comments </th>
                      <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
                  </ng-container>

                  <ng-container matColumnDef="station">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Station </th>
                          <td mat-cell *matCellDef="let element"> {{element.station}} </td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
                    <mat-cell *matCellDef="let element" >
                         <button mat-button (click)=" removeBike(element.id)" >Remove</button>
                    </mat-cell>
                  </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
      </table> 

